@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ACCESSIBILITÉ CLAVIER (Pilier "Opérable") --- */
/* On force un outline visible pour la navigation au clavier */
:focus-visible {
  outline: 3px solid #d35400; /* Orange visible */
  outline-offset: 2px;
}

body {
  /* On applique la couleur de fond et la police par défaut via Tailwind dans layout.tsx,
     mais on peut le forcer ici si besoin */
  @apply bg-swedish-white text-swedish-charcoal font-sans;
}